:root {
	--brand-color: #325139;
	--brand-color-100: #7dc98d;
	--brand-color-200: #469257;
	--brand-color-300: #08b02d;
	--background-color: #dfe9e1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background-color);
	min-height: 100vh;
}

.card-list {
	width: 100%;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	grid-gap: 2rem 2rem;
	width: 100%;
	padding: 2rem;
	justify-content: space-between;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	position: relative;
	padding: 1rem;
	transform-style: preserve-3d;
	background-color: white;
	color: rgb(46, 46, 46);
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
	transition: 200ms;
	transform: perspective(1000px) rotateY(var(--rotate-y, 0))
		translateY(var(--translate-y, 0));
	cursor: pointer;
}

.card:hover {
	--translate-y: -2px;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.card.flip {
	--rotate-y: 180deg;
}

.card .front,
.card .back {
	position: absolute;
	backface-visibility: hidden;
}

.card .front {
	transform: rotateY(0deg);
	padding: 2rem;
	left: 0;
}

.card .back {
	transform: rotateY(180deg);
	font-size: 1.5rem;
	font-weight: bold;
	padding: 2rem;
}

.card-options {
	display: flex;
	flex-direction: column;
	justify-content: start;
	justify-items: center;
	margin-top: 1rem;
}

.card-option {
	margin-top: 0.5rem;
	color: rgb(53, 48, 48);
	font-size: 1rem;
}

.card-option:first-child {
	margin-top: 0;
}

.question {
	font-weight: bold;
	font-size: 1.25rem;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	background-color: white;
	padding: 0 1.5rem;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.form-group {
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
}

.form-group > label {
	color: #777;
	font-size: 0.75rem;
	margin-bottom: 0.5rem;
}

.button {
	background-color: rgb(77, 160, 105);
	color: white;
	padding: 0.25rem 1rem;
	font-size: 1rem;
	border: none;
	cursor: pointer;
}

.button:hover {
	background-color: rgb(62, 138, 87);
}

.loading {
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.8);
	display: grid;
	place-items: center;
}

.input-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}

.body-loading {
	position: absolute;
	width: 100%;
	height: 80%;
	display: grid;
	place-items: center;
}

.prompt-container {
	width: 100%;
	padding: 2rem 0;
}

.prompt-text {
	text-align: center;
	font-size: 2rem;
	width: 100%;
	color: rgb(76, 149, 100);
}
